circle_background = rgba(240, 234, 203, .8)
circle_border     = #814949

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

make_circle()
    border-radius 50%

transition(property = all, duration = .2s, easing = linear)
    transition property duration easing

#main
    figure
        position relative

        img
            width 100%
            transition()

        &
        img
        figcaption
            make_circle()

        figcaption
            position absolute
            top 0
            left 15px
            right 15px
            bottom 0

            padding-top 20px

            border 10px solid circle_border

            font-size 2em

            text-align center

            background circle_background

            opacity 0
            transition()
            transform scale(.5)

            span
                position absolute
                top calc(50% - 2em)
                left 0
                right 0

        &:hover
            img
                opacity 0
                transform scale(1.2)

            figcaption
                opacity 1
                transform scale(1)

